{{#form-for controller action='save'}}
  <div>
    {{input name placeholder="App Name"}}
  </div>
  <div>
    {{input app_url placeholder="URL of Deployed Version"}}
  </div>
  <div>
    {{input description placeholder="Description"}}
  </div>
  <div>
    {{input repo_url placeholder="Repository URL"}}
  </div>
  <div>
    <button {{action 'save'}}>Create Project</button>
  </div>
{{/form-for}}
